In [1]:
import sys
sys.path.append('../src/')

In [2]:
import os
from dotenv import load_dotenv


# Load the variables from .env file
load_dotenv()

# Define the global variables to load AWS credentials and dataset file names
AWS_S3_BUCKET = os.environ.get("AWS_S3_BUCKET")
AWS_ACCESS_KEY_ID = os.environ.get("AWS_ACCESS_KEY_ID")
AWS_SECRET_ACCESS_KEY = os.environ.get("AWS_SECRET_ACCESS_KEY")
AWS_S3_DATA_DIRECTORY = os.environ.get("AWS_S3_DATA_DIRECTORY")
AWS_S3_CLEAN_DATA_DIRECTORY = os.environ.get("AWS_S3_CLEAN_DATA_DIRECTORY")
AWS_S3_DATA_DIRECTORY_RAW = os.environ.get("AWS_S3_DATA_DIRECTORY_RAW")
APPLICATION_DATASET = os.environ.get("APPLICATION_DATASET")
AWS_S3_DATA_DIRECTORY_PROCESSED = os.environ.get("AWS_S3_DATA_DIRECTORY_PROCESSED")
AWS_S3_DATA_DIRECTORY_MODELS = os.environ.get("AWS_S3_DATA_DIRECTORY_MODELS")
DEMO_DATASET = os.environ.get("DEMO_DATASET")

In [3]:
from utils.s3_Functions import S3Utils
# Create an instance of S3Utils class to access various methods
s3_utils = S3Utils(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, AWS_S3_BUCKET, AWS_S3_DATA_DIRECTORY)

In [4]:
applicationDf = s3_utils.load_dataframe('original', 'application_data.csv')

Loading 's3://loan-default-prediction/dataset-3/original/application_data.csv' file as dataframe.

Loading: 100%|██████████| 158M/158M [00:17<00:00, 9.42MB/s]

In [5]:
previousDf = s3_utils.load_dataframe('original', 'previous_application.csv')

Loading 's3://loan-default-prediction/dataset-3/original/previous_application.csv' file as dataframe.

Loading: 100%|██████████| 386M/386M [00:40<00:00, 9.88MB/s]

In [28]:
import pandas as pd
loan_process_df = pd.merge(applicationDf, previousDf, how="inner", on="SK_ID_CURR")

In [29]:
loan_process_df.shape

(1413701, 158)

In [30]:
loan_process_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,Auto technology,24.0,low_normal,POS other with interest,365243.0,-565.0,125.0,-25.0,-17.0,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,XNA,12.0,low_normal,Cash X-Sell: low,365243.0,-716.0,-386.0,-536.0,-527.0,1.0
2,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,Furniture,6.0,middle,POS industry with interest,365243.0,-797.0,-647.0,-647.0,-639.0,0.0
3,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,Consumer electronics,12.0,middle,POS household with interest,365243.0,-2310.0,-1980.0,-1980.0,-1976.0,1.0
4,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,Connectivity,4.0,middle,POS mobile without interest,365243.0,-784.0,-694.0,-724.0,-714.0,0.0

In [10]:
test_df = pd.read_csv("test_sample.csv")
test_df.head()

   ID     Name  Percentile   Age  Working     Designation
0   1      Sai        87.0  27.0      1.0  Lead Developer
1   2  Darshan        91.2  29.0      1.0     Lead Devops
2   3    Anwar        89.3   NaN      0.0             NaN
3   4      NaN        94.8  38.0      1.0       Architect
4   5      XYZ        38.0  42.0      NaN             NaN

In [11]:
test_df = test_df.where(pd.notnull(test_df), None)
test_df.head()

   ID     Name  Percentile   Age  Working     Designation
0   1      Sai        87.0  27.0      1.0  Lead Developer
1   2  Darshan        91.2  29.0      1.0     Lead Devops
2   3    Anwar        89.3   NaN      0.0            None
3   4     None        94.8  38.0      1.0       Architect
4   5      XYZ        38.0  42.0      NaN            None

In [26]:
import numpy as np

test1_df = test_df.replace(to_replace={None: np.nan})
test1_df.head()

   ID     Name  Percentile   Age  Working     Designation
0   1      Sai        87.0  27.0      1.0  Lead Developer
1   2  Darshan        91.2  29.0      1.0     Lead Devops
2   3    Anwar        89.3   NaN      0.0             NaN
3   4      NaN        94.8  38.0      1.0       Architect
4   5      XYZ        38.0  42.0      NaN             NaN

In [31]:
from typing import Tuple
from sklearn.model_selection import train_test_split

def split_data(
    df: pd.DataFrame, target_column: str, test_size: float = 0.2, random_state: int = 42
) -> Tuple[pd.DataFrame, pd.DataFrame, pd.DataFrame, pd.DataFrame, pd.DataFrame]:
    """Function to split the data into train and test samples"""

    # Split the features and target variables
    X, y = df.drop(target_column, axis=1), df[target_column]

    # Split the data into training and test samples
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=test_size, random_state=random_state,
    )

    return X, X_train, X_test, y_train, y_test

In [32]:
Train_set, Test_set = train_test_split(loan_process_df, test_size=0.075)

In [33]:
print("Train_set:", Train_set.shape)
print("Test_set:", Test_set.shape)

Train_set: (1307673, 158)
Test_set: (106028, 158)

In [25]:
Train_set[Train_set.select_dtypes(include='object').columns].value_counts()

NAME_CONTRACT_TYPE_x  CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  NAME_TYPE_SUITE_x  NAME_INCOME_TYPE      NAME_EDUCATION_TYPE            NAME_FAMILY_STATUS  NAME_HOUSING_TYPE    OCCUPATION_TYPE  WEEKDAY_APPR_PROCESS_START_x  ORGANIZATION_TYPE       FONDKAPREMONT_MODE     HOUSETYPE_MODE  WALLSMATERIAL_MODE  EMERGENCYSTATE_MODE  NAME_CONTRACT_TYPE_y  WEEKDAY_APPR_PROCESS_START_y  FLAG_LAST_APPL_PER_CONTRACT  NAME_CASH_LOAN_PURPOSE  NAME_CONTRACT_STATUS  NAME_PAYMENT_TYPE      CODE_REJECT_REASON  NAME_TYPE_SUITE_y  NAME_CLIENT_TYPE  NAME_GOODS_CATEGORY   NAME_PORTFOLIO  NAME_PRODUCT_TYPE  CHANNEL_TYPE             NAME_SELLER_INDUSTRY  NAME_YIELD_GROUP  PRODUCT_COMBINATION
Cash loans            F            N             Y                Group of people    Commercial associate  Secondary / secondary special  Married             House / apartment    Sales staff      WEDNESDAY                     Trade: type 3           not specified          block of flats  Stone, brick        No                   Consumer loans        WEDNESDAY                     Y                            XAP                     Refused               Cash through the bank  LIMIT               Unaccompanied      Repeater          Audio/Video           POS             XNA                Country-wide             Consumer electronics  middle            POS household with interest    12
                                                                  Unaccompanied      State servant         Secondary / secondary special  Widow               House / apartment    Medicine staff   MONDAY                        Medicine                reg oper account       block of flats  Panel               No                   Cash loans            THURSDAY                      Y                            XNA                     Refused               Cash through the bank  SCO                 Children           Repeater          XNA                   Cash            walk-in            Credit and cash offices  XNA                   high              Cash Street: high              11
                      M            N             Y                Unaccompanied      Commercial associate  Secondary / secondary special  Married             House / apartment    Sales staff      WEDNESDAY                     Trade: type 2           reg oper account       block of flats  Stone, brick        No                   Consumer loans        FRIDAY                        Y                            XAP                     Refused               Cash through the bank  LIMIT               Unaccompanied      Repeater          Consumer Electronics  POS             XNA                Country-wide             Consumer electronics  middle            POS household with interest    11
                                   Y             N                Unaccompanied      Commercial associate  Higher education               Separated           House / apartment    Managers         SATURDAY                      Business Entity Type 3  reg oper account       block of flats  Panel               No                   Cash loans            MONDAY                        Y                            XNA                     Refused               Cash through the bank  HC                  Unaccompanied      Repeater          XNA                   Cash            x-sell             Credit and cash offices  XNA                   high              Cash X-Sell: high              11
                      F            N             Y                Unaccompanied      Working               Secondary / secondary special  Widow               Municipal apartment  Cleaning staff   SATURDAY                      Government              reg oper account       block of flats  Panel               No                   Cash loans            THURSDAY                      Y                            XNA                     Refused               Cash through the bank  HC                  Family             Repeater          XNA                   Cash            x-sell             Country-wide             Consumer electronics  low_action        Cash X-Sell: low                9
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
                                                                                                                                          Married             House / apartment    Cleaning staff   THURSDAY                      School                  reg oper account       block of flats  Panel               No                   Revolving loans       SUNDAY                        Y                            XAP                     Approved              XNA                    XAP                 Unaccompanied      Repeater          XNA                   Cards           walk-in            Country-wide             Consumer electronics  XNA               Card Street                     1
                                                                                                                                                                                                                                                                                                                                          Consumer loans        SUNDAY                        Y                            XAP                     Approved              Cash through the bank  XAP                 Unaccompanied      Repeater          Audio/Video           POS             XNA                Country-wide             Consumer electronics  middle            POS household with interest     1
                                                                                                                                                                                                                                                                                                                                                                SATURDAY                      Y                            XAP                     Approved              Cash through the bank  XAP                 Family             New               Consumer Electronics  POS             XNA                Country-wide             Consumer electronics  middle            POS household with interest     1
                                                                                                                                                                                                                                                                                                 Block               No                   Revolving loans       SUNDAY                        Y                            XAP                     Approved              XNA                    XAP                 Family             Refreshed         XNA                   Cards           walk-in            Regional / Local         Construction          XNA               Card Street                     1
Revolving loans       XNA          N             Y                Unaccompanied      Working               Higher education               Married             House / apartment    Core staff       THURSDAY                      Kindergarten            reg oper spec account  block of flats  Panel               No                   Revolving loans       TUESDAY                       N                            XAP                     Refused               XNA                    HC                  Unaccompanied      Repeater          XNA                   Cards           x-sell             AP+ (Cash loan)          XNA                   XNA               Card X-Sell                     1
Name: count, Length: 133324, dtype: int64

In [26]:
Test_set[Test_set.select_dtypes(include='object').columns].value_counts()

NAME_CONTRACT_TYPE_x  CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  NAME_TYPE_SUITE_x  NAME_INCOME_TYPE      NAME_EDUCATION_TYPE            NAME_FAMILY_STATUS    NAME_HOUSING_TYPE  OCCUPATION_TYPE        WEEKDAY_APPR_PROCESS_START_x  ORGANIZATION_TYPE       FONDKAPREMONT_MODE     HOUSETYPE_MODE  WALLSMATERIAL_MODE  EMERGENCYSTATE_MODE  NAME_CONTRACT_TYPE_y  WEEKDAY_APPR_PROCESS_START_y  FLAG_LAST_APPL_PER_CONTRACT  NAME_CASH_LOAN_PURPOSE  NAME_CONTRACT_STATUS  NAME_PAYMENT_TYPE      CODE_REJECT_REASON  NAME_TYPE_SUITE_y  NAME_CLIENT_TYPE  NAME_GOODS_CATEGORY  NAME_PORTFOLIO  NAME_PRODUCT_TYPE  CHANNEL_TYPE             NAME_SELLER_INDUSTRY  NAME_YIELD_GROUP  PRODUCT_COMBINATION
Cash loans            F            N             N                Unaccompanied      Working               Secondary / secondary special  Single / not married  House / apartment  Sales staff            MONDAY                        Business Entity Type 3  reg oper account       block of flats  Stone, brick        No                   Cash loans            WEDNESDAY                     Y                            XNA                     Refused               Cash through the bank  LIMIT               Children           Repeater          XNA                  Cash            x-sell             Credit and cash offices  XNA                   middle            Cash X-Sell: middle            3
Revolving loans       F            Y             Y                Unaccompanied      Working               Secondary / secondary special  Married               House / apartment  Core staff             MONDAY                        Other                   reg oper account       block of flats  Block               No                   Cash loans            SATURDAY                      Y                            XNA                     Refused               Cash through the bank  HC                  Spouse, partner    Refreshed         XNA                  XNA             XNA                Credit and cash offices  XNA                   XNA               Cash                           2
Cash loans            M            Y             Y                Unaccompanied      Working               Secondary / secondary special  Married               House / apartment  Drivers                MONDAY                        Other                   reg oper account       block of flats  Panel               No                   Cash loans            TUESDAY                       Y                            XNA                     Refused               Cash through the bank  HC                  Unaccompanied      Repeater          XNA                  Cash            x-sell             Credit and cash offices  XNA                   low_normal        Cash X-Sell: low               2
                                                                                                                                                                                   Laborers               SATURDAY                      Other                   reg oper account       block of flats  Wooden              Yes                  Consumer loans        THURSDAY                      Y                            XAP                     Refused               Cash through the bank  LIMIT               Family             Refreshed         Audio/Video          POS             XNA                Country-wide             Consumer electronics  middle            POS household with interest    2
                                   N             N                Unaccompanied      Commercial associate  Higher education               Married               House / apartment  High skill tech staff  MONDAY                        Mobile                  reg oper account       block of flats  Panel               No                   Cash loans            TUESDAY                       Y                            XNA                     Refused               Cash through the bank  HC                  Unaccompanied      Refreshed         XNA                  Cash            x-sell             Credit and cash offices  XNA                   high              Cash X-Sell: high              2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ..
                      F            N             Y                Unaccompanied      Working               Secondary / secondary special  Married               House / apartment  Accountants            TUESDAY                       Self-employed           reg oper account       block of flats  Stone, brick        No                   Consumer loans        TUESDAY                       Y                            XAP                     Approved              XNA                    XAP                 Children           New               Mobile               POS             XNA                Regional / Local         Connectivity          high              POS mobile with interest       1
                                                                                                                                                                                                          WEDNESDAY                     Business Entity Type 3  reg oper spec account  block of flats  Stone, brick        No                   Consumer loans        THURSDAY                      Y                            XAP                     Approved              Cash through the bank  XAP                 Unaccompanied      New               Audio/Video          POS             XNA                Regional / Local         Consumer electronics  middle            POS household with interest    1
                                                                                                                                                                                                                                        Other                   reg oper account       block of flats  Panel               No                   Consumer loans        FRIDAY                        Y                            XAP                     Approved              Cash through the bank  XAP                 Unaccompanied      Repeater          Tourism              POS             XNA                Stone                    Tourism               low_normal        POS other with interest        1
                                                                                                                                                                                                                                                                                                                                                                      SUNDAY                        Y                            XAP                     Approved              Cash through the bank  XAP                 Unaccompanied      Refreshed         Tourism              POS             XNA                Stone                    Industry              low_normal        POS other with interest        1
Revolving loans       XNA          N             Y                Unaccompanied      Working               Higher education               Married               House / apartment  Core staff             THURSDAY                      Kindergarten            reg oper spec account  block of flats  Panel               No                   Consumer loans        SUNDAY                        Y                            XAP                     Approved              Cash through the bank  XAP                 Unaccompanied      Refreshed         Mobile               POS             XNA                Stone                    Connectivity          middle            POS mobile with interest       1
Name: count, Length: 11425, dtype: int64

In [35]:
s3_utils.save_dataframe(
          AWS_S3_DATA_DIRECTORY_RAW, 'merged_application_data.csv', Train_set
       )

Saving dataframe as 'merged_application_data.csv' at 's3://loan-default-prediction/dataset-3/raw/merged_application_data.csv'
csv file 'merged_application_data.csv' is saved to S3 successfully.

In [34]:
s3_utils.save_dataframe(
          AWS_S3_DATA_DIRECTORY_RAW, 'merged_demo_data.csv', Test_set
       )

Saving dataframe as 'merged_demo_data.csv' at 's3://loan-default-prediction/dataset-3/raw/merged_demo_data.csv'
csv file 'merged_demo_data.csv' is saved to S3 successfully.

In [19]:
pd.set_option("display.max_rows", None)
Train_set.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1307673 entries, 884843 to 636128
Data columns (total 158 columns):
 #    Column                        Dtype
---   ------                        -----
 0    SK_ID_CURR                    int64
 1    TARGET                        int64
 2    NAME_CONTRACT_TYPE_x          object
 3    CODE_GENDER                   object
 4    FLAG_OWN_CAR                  object
 5    FLAG_OWN_REALTY               object
 6    CNT_CHILDREN                  int64
 7    AMT_INCOME_TOTAL              float64
 8    AMT_CREDIT_x                  float64
 9    AMT_ANNUITY_x                 float64
 10   AMT_GOODS_PRICE_x             float64
 11   NAME_TYPE_SUITE_x             object
 12   NAME_INCOME_TYPE              object
 13   NAME_EDUCATION_TYPE           object
 14   NAME_FAMILY_STATUS            object
 15   NAME_HOUSING_TYPE             object
 16   REGION_POPULATION_RELATIVE    float64
 17   DAYS_BIRTH                    int64
 18   DAYS_EMPLOYED                 int64
 19   DAYS_REGISTRATION             float64
 20   DAYS_ID_PUBLISH               int64
 21   OWN_CAR_AGE                   float64
 22   FLAG_MOBIL                    int64
 23   FLAG_EMP_PHONE                int64
 24   FLAG_WORK_PHONE               int64
 25   FLAG_CONT_MOBILE              int64
 26   FLAG_PHONE                    int64
 27   FLAG_EMAIL                    int64
 28   OCCUPATION_TYPE               object
 29   CNT_FAM_MEMBERS               float64
 30   REGION_RATING_CLIENT          int64
 31   REGION_RATING_CLIENT_W_CITY   int64
 32   WEEKDAY_APPR_PROCESS_START_x  object
 33   HOUR_APPR_PROCESS_START_x     int64
 34   REG_REGION_NOT_LIVE_REGION    int64
 35   REG_REGION_NOT_WORK_REGION    int64
 36   LIVE_REGION_NOT_WORK_REGION   int64
 37   REG_CITY_NOT_LIVE_CITY        int64
 38   REG_CITY_NOT_WORK_CITY        int64
 39   LIVE_CITY_NOT_WORK_CITY       int64
 40   ORGANIZATION_TYPE             object
 41   EXT_SOURCE_1                  float64
 42   EXT_SOURCE_2                  float64
 43   EXT_SOURCE_3                  float64
 44   APARTMENTS_AVG                float64
 45   BASEMENTAREA_AVG              float64
 46   YEARS_BEGINEXPLUATATION_AVG   float64
 47   YEARS_BUILD_AVG               float64
 48   COMMONAREA_AVG                float64
 49   ELEVATORS_AVG                 float64
 50   ENTRANCES_AVG                 float64
 51   FLOORSMAX_AVG                 float64
 52   FLOORSMIN_AVG                 float64
 53   LANDAREA_AVG                  float64
 54   LIVINGAPARTMENTS_AVG          float64
 55   LIVINGAREA_AVG                float64
 56   NONLIVINGAPARTMENTS_AVG       float64
 57   NONLIVINGAREA_AVG             float64
 58   APARTMENTS_MODE               float64
 59   BASEMENTAREA_MODE             float64
 60   YEARS_BEGINEXPLUATATION_MODE  float64
 61   YEARS_BUILD_MODE              float64
 62   COMMONAREA_MODE               float64
 63   ELEVATORS_MODE                float64
 64   ENTRANCES_MODE                float64
 65   FLOORSMAX_MODE                float64
 66   FLOORSMIN_MODE                float64
 67   LANDAREA_MODE                 float64
 68   LIVINGAPARTMENTS_MODE         float64
 69   LIVINGAREA_MODE               float64
 70   NONLIVINGAPARTMENTS_MODE      float64
 71   NONLIVINGAREA_MODE            float64
 72   APARTMENTS_MEDI               float64
 73   BASEMENTAREA_MEDI             float64
 74   YEARS_BEGINEXPLUATATION_MEDI  float64
 75   YEARS_BUILD_MEDI              float64
 76   COMMONAREA_MEDI               float64
 77   ELEVATORS_MEDI                float64
 78   ENTRANCES_MEDI                float64
 79   FLOORSMAX_MEDI                float64
 80   FLOORSMIN_MEDI                float64
 81   LANDAREA_MEDI                 float64
 82   LIVINGAPARTMENTS_MEDI         float64
 83   LIVINGAREA_MEDI               float64
 84   NONLIVINGAPARTMENTS_MEDI      float64
 85   NONLIVINGAREA_MEDI            float64
 86   FONDKAPREMONT_MODE            object
 87   HOUSETYPE_MODE                object
 88   TOTALAREA_MODE                float64
 89   WALLSMATERIAL_MODE            object
 90   EMERGENCYSTATE_MODE           object
 91   OBS_30_CNT_SOCIAL_CIRCLE      float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      float64
 95   DAYS_LAST_PHONE_CHANGE        float64
 96   FLAG_DOCUMENT_2               int64
 97   FLAG_DOCUMENT_3               int64
 98   FLAG_DOCUMENT_4               int64
 99   FLAG_DOCUMENT_5               int64
 100  FLAG_DOCUMENT_6               int64
 101  FLAG_DOCUMENT_7               int64
 102  FLAG_DOCUMENT_8               int64
 103  FLAG_DOCUMENT_9               int64
 104  FLAG_DOCUMENT_10              int64
 105  FLAG_DOCUMENT_11              int64
 106  FLAG_DOCUMENT_12              int64
 107  FLAG_DOCUMENT_13              int64
 108  FLAG_DOCUMENT_14              int64
 109  FLAG_DOCUMENT_15              int64
 110  FLAG_DOCUMENT_16              int64
 111  FLAG_DOCUMENT_17              int64
 112  FLAG_DOCUMENT_18              int64
 113  FLAG_DOCUMENT_19              int64
 114  FLAG_DOCUMENT_20              int64
 115  FLAG_DOCUMENT_21              int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119  AMT_REQ_CREDIT_BUREAU_MON     float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    float64
 122  SK_ID_PREV                    int64
 123  NAME_CONTRACT_TYPE_y          object
 124  AMT_ANNUITY_y                 float64
 125  AMT_APPLICATION               float64
 126  AMT_CREDIT_y                  float64
 127  AMT_DOWN_PAYMENT              float64
 128  AMT_GOODS_PRICE_y             float64
 129  WEEKDAY_APPR_PROCESS_START_y  object
 130  HOUR_APPR_PROCESS_START_y     int64
 131  FLAG_LAST_APPL_PER_CONTRACT   object
 132  NFLAG_LAST_APPL_IN_DAY        int64
 133  RATE_DOWN_PAYMENT             float64
 134  RATE_INTEREST_PRIMARY         float64
 135  RATE_INTEREST_PRIVILEGED      float64
 136  NAME_CASH_LOAN_PURPOSE        object
 137  NAME_CONTRACT_STATUS          object
 138  DAYS_DECISION                 int64
 139  NAME_PAYMENT_TYPE             object
 140  CODE_REJECT_REASON            object
 141  NAME_TYPE_SUITE_y             object
 142  NAME_CLIENT_TYPE              object
 143  NAME_GOODS_CATEGORY           object
 144  NAME_PORTFOLIO                object
 145  NAME_PRODUCT_TYPE             object
 146  CHANNEL_TYPE                  object
 147  SELLERPLACE_AREA              int64
 148  NAME_SELLER_INDUSTRY          object
 149  CNT_PAYMENT                   float64
 150  NAME_YIELD_GROUP              object
 151  PRODUCT_COMBINATION           object
 152  DAYS_FIRST_DRAWING            float64
 153  DAYS_FIRST_DUE                float64
 154  DAYS_LAST_DUE_1ST_VERSION     float64
 155  DAYS_LAST_DUE                 float64
 156  DAYS_TERMINATION              float64
 157  NFLAG_INSURED_ON_APPROVAL     float64
dtypes: float64(80), int64(46), object(32)
memory usage: 1.5+ GB

In [23]:
Train_set["OCCUPATION_TYPE"].value_counts(dropna=False)

OCCUPATION_TYPE
None                     423157
Laborers                 232338
Sales staff              139911
Core staff               109494
Managers                  87772
Drivers                   77839
High skill tech staff     44905
Accountants               38776
Medicine staff            37114
Security staff            29327
Cooking staff             26603
Cleaning staff            22532
Private service staff     11293
Low-skill Laborers         8596
Waiters/barmen staff       5681
Secretaries                5337
Realty agents              3280
HR staff                   2140
IT staff                   1578
Name: count, dtype: int64